[project]
	description = The OpenVirteX Virtualization Platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Constantin Gaul (CGaul)
[access "refs/for/refs/*"]
	read = group user/Constantin Gaul (CGaul)
	push = group user/Constantin Gaul (CGaul)
	label-Code-Review = -2..+2 group user/Constantin Gaul (CGaul)
	label-Verified = -1..+1 group user/Constantin Gaul (CGaul)
	rebase = group user/Constantin Gaul (CGaul)
	removeReviewer = group user/Constantin Gaul (CGaul)
	submit = group user/Constantin Gaul (CGaul)
[access "refs/heads/*"]
	read = group user/Constantin Gaul (CGaul)
	create = group user/Constantin Gaul (CGaul)
	push = +force group user/Constantin Gaul (CGaul)
	pushMerge = group user/Constantin Gaul (CGaul)
[access "refs/tags/*"]
	push = +force group user/Constantin Gaul (CGaul)
	createTag = group user/Constantin Gaul (CGaul)
	createSignedTag = group user/Constantin Gaul (CGaul)
